@charset "UTF-8";
@font-face {
  font-family: urdi;
  src: url('/font/urdi.otf');
}
:root{
  --cor: #cc8105;
  --corA: #053353;
  --corB : #0964a4;
  /*doourado*/
  --cor1:#634900;
  --cor2:#836900;
  --cor3:#FFFFFE;
  --cor4:#C3B03F;
  --cor5:#B9A533;
}
body{
  background-attachment: fixed;
  background-image: url('imagens/logo.png');
  background-position: center;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: justify;
}
header {
  height: auto;
  width: 100vw;
  margin-top: -8px;
  background-image: url('imagens/1998.jpg');
  background-position: left center;
  display: flex;
  justify-content: left;
  align-items: center;
}
header > img {
  height: 10px;
  width: 10px;

}
header h1 {
  font-weight: normal;
  font-family: urdi;
  color: var(--cor4);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

strong#urdi {
  display: inline-block;
  position: relative;
  transition: 1s;
  cursor: pointer;
}
strong#urdi:hover {
  background-size: cover;
  background-image: url('imagens/urdi2.png');
  width: 200px;
  height: 200px;
  border-radius: 8px;
  transform: translate(50px, -200px);
  color: transparent;
}
img.corpo {
  width: 100vw;
  height: 200px;
}
main{
  padding: 20px;
  max-width: 980px;
}